!.*

node_modules
dist
package-lock.json
yarn.lock

.DS_Store
.cache
.env
.vercel
.output
.vinxi

/build/
/api/
/server/build
/public/build
.vinxi
# Sentry Config File
.env.sentry-build-plugin

.envrc
.dev.vars

terraform/terraform.env
terraform/.envrc

.env.*
!.env.*.example

.nx/cache
.nx/workspace-data
